proxy_server/services/ServiceDefinition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ProxyService"
             targetNamespace="http://localhost/proxyservice.wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://localhost/proxyservice.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">

  <types>
    <xsd:schema targetNamespace="http://localhost/proxyservice.wsdl"
                elementFormDefault="qualified">
      <xsd:element name="getValutesRequest" type="xsd:anyType"/>
      <xsd:element name="getValutesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getValutesResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getValuteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="fromDate" type="xsd:string"/>
            <xsd:element name="toDate" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getValuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getValuteResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="getValutesRequest">
    <part name="parameters" element="tns:getValutesRequest"/>
  </message>
  <message name="getValutesResponse">
    <part name="parameters" element="tns:getValutesResponse"/>
  </message>

  <message name="getValuteRequest">
    <part name="parameters" element="tns:getValuteRequest"/>
  </message>
  <message name="getValuteResponse">
    <part name="parameters" element="tns:getValuteResponse"/>
  </message>

  <portType name="ProxyServicePortType">
    <operation name="getValutes">
      <input message="tns:getValutesRequest"/>
      <output message="tns:getValutesResponse"/>
    </operation>
    <operation name="getValute">
      <input message="tns:getValuteRequest"/>
      <output message="tns:getValuteResponse"/>
    </operation>
  </portType>

  <binding name="ProxyServiceBinding" type="tns:ProxyServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getValutes">
      <soap:operation soapAction="getValutes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getValute">
      <soap:operation soapAction="getValute"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="ProxyService">
    <port name="ProxyServiceSoap" binding="tns:ProxyServiceBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </port>
  </service>
</definitions>

